{% extends "base.html" %}
{% block title %}Records Procurement Login{% endblock title %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_request.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
{% endblock custom_css_links %}
{% block content %}
{#    <div class="container-fluid-content">#}
        <div class="page-header">
            <h1>Login</h1>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        <form name="login" id="login_form" method="POST" action="">
            {{ form.hidden_tag() }}
            {% for message in form.email.errors %}
                <div class="alert alert-danger" id="missing_email">{{ message }}</div>
            {% endfor %}
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(id="email", class="form-control", type="text") }}
            </div>

            {% for message in form.password.errors %}
                <div class="alert alert-danger" id="missing_password">{{ message }}</div>
            {% endfor %}
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(id="password", class="form-control") }}
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
            </div>

            <div class="checkbox">
                <label>
                    {{ form.remember_me(id="remember_me") }}
                    <div>Keep me logged in</div>
                </label>
            </div>

            <div class="spacer">
            <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.
            </p>
             </div>

        </form>
{% endblock %}