{% extends 'base.html' %} {% block content %}
<section>
  <div class="container mt-4 mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <img
              class="img-fluid"
              src="https://www.nyc.gov/assets/records/images/content/header/records_logo.svg"
            />
            <h3 class="mb-5">Sign in</h3>

            <form action="/login_form" method="POST">
              {{ form.hidden_tag() }}
              <div class="form-outline mb-4">
                {{ form.email.label(class="form-label mt-2") }} {{
                form.email(class="form-control form-control-lg") }}
              </div>
              <div class="form-outline mb-4">
                {{ form.password.label(class="form-label mt-2") }} {{
                form.password(class="form-control form-control-lg") }}
              </div>
              <div class="d-grid">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
