{% extends "base.html" %}
{% block title %}Records Procurement - Reset Password{% endblock title %}
{% block content %}
    <div class="page-header">
        <h1>Reset Your Password</h1>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <form name="pwd_reset" id="pwd_reset_form" method="POST" action="">
        {{ form.hidden_tag() }}
        {% if signed_in == False %}
        {% for message in form.email.errors %}
            <div class="alert alert-danger" id="missing_email">{{ message }}</div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-md-4">
                <label for="email">Email</label>
                {{ form.email(id="email", class="form-control") }}
            </div>
        </div>
        {% else %}
        <div hidden>
            {{ form.email(id="email", class="form-control", value=current_user.email) }}
        </div>
        {% endif %}

        {% for message in form.password.errors %}
            <div class="alert alert-danger" id="missing_password">{{ message }}</div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-md-4">
                <label for="password">New Password</label>
                {{ form.password(id="password", class="form-control") }}
            </div>
        </div>

        {% for message in form.password2.errors %}
            <div class="alert alert-danger" id="missing_password2">{{ message }}</div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-md-4">
                <label for="password">Confirm New Password</label>
                {{ form.password2(id="password2", class="form-control") }}
            </div>
        </div>

        <div class="form-group">
            <div class="spacer">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
{% endblock %}
