[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
dnspython = "*"
email-validator = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
greenlet = "*"
idna = "*"
infinity = "*"
intervals = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
psycopg2-binary = "*"
six = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
typing-extensions = "*"
validators = "*"
werkzeug = "==2.3.7"
wtforms = "*"
wtforms-alchemy = "*"
wtforms-components = "*"
isodate = "*"
lxml = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-session = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9.2"
