alembic
click
decorator
Flask
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
infinity
intervals
itsdangerous
Jinja2
Mako
MarkupSafe
phonenumbers
psycopg2
python-editor
six
SQLAlchemy
SQLAlchemy-Utils
validators
Werkzeug
WTForms
WTForms-Alchemy
WTForms-Components
