

{% extends "base.html" %}

{% block title%}
Records Procurement - View Request
{% endblock %}

{% block content %}
<!-- start of static form -->
<div class="row-fluid">
  <h3><strong>Edit Request {{ request.id }}/strong></h3>
  <p><i><strong>Purchase Information</strong></i></p>
</div>

<div class="row-fluid" id="request">
  <br>
  <form name="edit_request" class="form-horizontal" id="edit_request" method="POST" action="">
    {{ form.hidden_tag() }}

    {% for message in form.item.errors %}
    <div class="alert alert-danger" id="missing_item">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "item">Item:</label>
      <div class="col-sm-8">
        {% set f = form.item.process_data(request.item) %}
        {{ form.item(id="item", class="form-control", rows="2", maxlength="100", type="text" ) }}
        <div class="small">Please insert full description</div>
      </div>
    </div>

    {% for message in form.quantity.errors %}
    <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "quantity">Quantity:</label>
      <div class="col-sm-5">
        {{ form.quantity(id="quantity", class="form-control", type="text", value=request.quantity) }}
        <div class="small">i.e. Quantity of boxes, cases, singles</div>
      </div>
    </div>

    {% for message in form.unit_price.errors %}
    <div class="alert alert-danger" id="missing_price_per_item">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "unit_price">Price per Item:</label>
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          {{ form.unit_price(id="unit_price", class="form-control", type="text", value=request.unit_price ) }}
        </div>
      </div>
    </div>

    {% for message in form.total_cost.errors %}
    <div class="alert alert-danger" id="missing_total">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "total_cost">Total:</label>
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          {{ form.total_cost(id="total_cost", class="form-control", type="text", value=request.total_cost ) }}
        </div>
        <div class="small">Please include all additional costs, i.e. S&amp;H</div>
      </div>
    </div>

    {% for message in form.funding_source.errors %}
    <div class="alert alert-danger" id="missing_funding_source">{{ message }}</div>
    {% endfor %}

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "funding_source">Funding Source:</label>
      <div class="col-sm-5">
        {% set f = form.funding_source.process_data(request.funding_source) %}
        {{ form.funding_source(id="funding_source", class="form-control", value=request.funding_source) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-offset-1 col-sm-3" for
      "funding_source_description">If Other, specify:</label>
      <div class="col-sm-5">
        {{ form.funding_source_description(id="funding_source_description", class="form-control",
        text="text", maxlength="100", value=request.funding_source_description ) }}
      </div>
    </div>

    <p><i><strong>Vendor Information</strong></i></p>
    <div class="form-group">
      <label class="form-control-label col-sm-3 sr-only" for "request_vendor">Vendor Information:</label>
      <div class="col-sm-10">
        <select class="form-control" id="vendor">
          <option selected value>Select Vendor or Enter New Vendor Below</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_name">Vendor Name:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_name(id="vendor_name", class="form-control", maxlength="100", value=request.request_vendor_name ) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_address">Address:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_address(id="vendor_address", class="form-control", maxlength="100", value=request.request_vendor_address ) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_phone">Phone:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_phone(id="vendor_phone", class="form-control", type="tel", value=request.request_vendor_phone) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_fax">Fax:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_fax(id="vendor_fax", class="form-control", type="tel", value=request.request_vendor_fax ) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_email">Email:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_email(id="vendor_email", class="form-control", type="tel",
        maxlength="100", value=request.request_vendor_email) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_taxid">Vendor/Tax ID:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_taxid(id="vendor_taxid", class="form-control", maxlength="100", value=request.request_vendor_taxid ) }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label col-sm-3" for "request_vendor_MWBE">M/WBE:</label>
      <div class="col-sm-5">
        {{ form.request_vendor_MWBE(id="request_MWBE", class="radio-inline", value=request.request_vendor_MWBE ) }}
      </div>
    </div>

    <div class="spacer">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Save Changes</button>
    </div>
  </form>
  <!-- end of static form -->
  {% endblock %}
