<p>
    Request {{ request.id }} (created by
    {% if user.role != "Regular User" %}
        {{ user.role }}:
    {% endif %}
    {{ user.first_name }} {{ user.last_name }})
    {% if request.status == "Needs Division Approval" %}
        has been routed for approval.
    {% elif request.status == "Needs Commissioner Approval" %}
        needs high level approval.
    {% endif %}
</p>
<p><a href="{{ url_for('request.display_request', request_id=request.id, _external=True) }}">Click here</a>
    to view this request.
</p>
<p>Sincerely,</p>
<p>The Procurement Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>