{% extends "base.html" %}
{% block title %}
Records Procurement - New Request
{% endblock title %}

{% block custom_css_links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new-request.css') }}">
{% endblock custom_css_links %}

{% block content %}
<article class="container overflow-hidden">
    <div class="my-5">
        <div class="medium">
            <h1>Purchase Request</h1>
            <script type="text/javascript">
            var currentDate = new Date();
            var day = currentDate.getDate();
            var month = currentDate.getMonth() + 1;
            var year = currentDate.getFullYear();
            document.write("<b>" + "Date: " + month + "/" + day + "/" + year + "</b>")

            </script>
        </div>

        <div class="medium my-4">
            <h3><i>Purchase Information</i></h3>
            <p class="text-right text-danger fs-md" aria-hidden="true">* Required Fields</p>
            <form name="newrequest" class="needs-validation form-horizontal" id="submitRequest" method="POST" action="" novalidate>
                {{ form.hidden_tag() }}

                {% if current_user.is_authenticated %}
                <div class="form-group">
                    <label for="item" class="form-control-label">Requester Name</label>
                    <div>
                        {{ user.name }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="item" class="form-control-label">Division</label>
                    <div>
                        {{ user.division }}
                    </div>
                </div>
                {% else %}
                <div class="form-group">
                    {% for message in form.request_name.errors %}
                    <div class="alert alert-danger" id="missing_name">{{ message }}</div>
                    {% endfor %}

                    <label for="request_name" class="form-control-label">Name</label>
                    <div>
                        {{ form.request_name(id="request_name", class="form-control", type="text") }}
                    </div>
                </div>

                <div class="form-group">
                    {% for message in form.division.errors %}
                    <div class="alert alert-danger" id="missing_division">{{ message }}</div>
                    {% endfor %}

                    <label for="division" class="form-control-label">Division</label>
                    <div>
                        {{ form.division(id="division", class="form-control") }}
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="item" class=" form-control-label">Item
                        <span class="fs-md text-danger" aria-hidden="true">*</span>
                    </label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the item</span>
                        </p>
                        {{ form.item(id="item", class="form-control", rows="2", maxlength="500", type="text") }}
                        <div class="small">Please insert FULL description</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="quantity" class="form-control-label">Quantity
                        <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the quantity</span>
                        </p>
                        {{ form.quantity(id="quantity", class="form-control") }}
                        <div class="small">i.e. Quantity of boxes, cases, singles</div>
                    </div>
                </div>

                <div class="form-group">

                    <label for="unit_price" class="form-control-label ">Price per Item</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <div class="input-group">
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Required Field</span>
                                <span class="invalid-instruction">Please enter the price per item</span>
                            </p>
                            <span class="input-group-addon">$</span>
                            {{ form.unit_price(id="unit_price", class="form-control", type="text")}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="total_cost" class="form-control-label">Total</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <div class="input-group">
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Required Field</span>
                                <span class="invalid-instruction">Please enter the total price</span>
                            </p>
                            <span class="input-group-addon">$</span>
                            {{ form.total_cost(id="total_cost", class="form-control") }}
                        </div>
                        <div class="small">Please include all additional costs, i.e. S&H</div>
                    </div>
                </div>

                <div class="form-group">

                    <label for="funding_source" class="form-control-label">Funding Source</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please select the funding source</span>
                        </p>
                        {{ form.funding_source(id="funding_source", class="form-control") }}
                    </div>
                </div>

                <div id="funding_source_description" class="form-group" style="display:None;">
                    <label for="funding_source_description" class="col-sm-offset-1 col-sm-3 form-control-label">
                        Specify:</label>
                    {{ form.funding_source_description(id="funding_source_description", class="form-control",
                    text="text", maxlength="100") }}
                </div>
                <div id="grant_name" class="form-group required" style="display:None;">
                    <label for="grant_name" class="col-sm-offset-1 col-sm-3 form-control-label">
                        Grant Name:</label>
                    <div class="col-sm-5">
                        {{ form.grant_name(id="grant_name", class="form-control", text="text", maxlength="100") }}
                    </div>
                </div>

                <div id="project_name" class="form-group required" style="display:None;">
                    <label for="project_name" class="col-sm-offset-1 col-sm-3 form-control-label">
                        Project Name:</label>
                    <div class="col-sm-5">
                        {{ form.project_name(id="project_name", class="form-control", text="text", maxlength="100") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="justification" class="form-control-label">Justification</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">You must enter a justification for your request</span>
                        </p>
                        {{ form.justification(id="justification", rows="3", class="form-control", maxlength="500") }}
                    </div>
                </div>

                <h3><i>Vendor Information</i></h3>

                <div class="form-group">
                    {% for message in form.request_vendor_dropdown.errors %}
                    <div class="alert alert-danger" id="missing_justification">{{ message }}</div>
                    {% endfor %}
                    <label for="request_vendor" class="sr-only form-control-label">Vendor Information:</label>
                    <div>
                        {{ form.request_vendor_dropdown(id="vendor_information", class="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_name" class="form-control-label">Vendor Name</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor name</span>
                        </p>
                        {{ form.request_vendor_name(id="vendor_name", class="form-control", maxlength="100") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_address" class="form-control-label">Vendor Address</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor address</span>
                        </p>
                        {{ form.request_vendor_address(id="vendor_address", class="form-control", maxlength="100") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_phone" class="form-control-label">Vendor Phone</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor phone</span>
                        </p>
                        {{ form.request_vendor_phone(id="vendor_phone", class="form-control", type="tel") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_fax" class="form-control-label">Vendor Fax</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor fax</span>
                        </p>
                        {{ form.request_vendor_fax(id="vendor_fax", class="form-control", type="tel") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_email" class="form-control-label">Vendor Email</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor email</span>
                        </p>
                        {{ form.request_vendor_email(id="vendor_email", class="form-control", maxlength="100") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_taxid" class="form-control-label">Vendor/Tax ID</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        <p class="invalid-feedback">
                            <span class="fas fa-exclamation-triangle"></span>
                            <span class="invalid-description">Required Field</span>
                            <span class="invalid-instruction">Please enter the vendor ID or tax IDne</span>
                        </p>
                        {{ form.request_vendor_taxid(id="vendor_taxid", class="form-control", maxlength="100") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="request_vendor_mwbe" class="form-control-label">M/WBE</label>
                    <span class="fs-md text-danger" aria-hidden="true">*</span></label>
                    <div>
                        {{ form.request_vendor_mwbe(id="request_vendor_mwbe", class="radio-inline") }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="spacer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
        $(document).ready(function () {
            // Handle funding source selection change
            function handleFundingSourceChange() {
                if ($('#funding_source').val() == 'Other') {
                    $('#funding_source_description').show();
                    $('#grant_name').hide();
                    $('#project_name').hide();
                } else if ($('#funding_source').val() == 'Grant') {
                    $('#grant_name').show();
                    $('#project_name').show();
                    $('#funding_source_description').hide();
                } else {
                    $('#funding_source_description').hide();
                    $('#grant_name').hide();
                    $('#project_name').hide();
                }
            }
            // Initial call on page load
            handleFundingSourceChange();

            $('#funding_source').on('change', handleFundingSourceChange);

            // Retrieve vendor information on selection change
            $("#vendor_information").change(function () {
                $.ajax({
                    url: "/parse_vendor",
                    type: "GET",
                    data: {
                        vendor: $("#vendor_information").children(":selected").attr("value")
                    },
                    success: function (data) {
                        var dis = false;
                        var vendor_name = $("#vendor_name");
                        var vendor_address = $("#vendor_address");
                        var vendor_phone = $("#vendor_phone");
                        var vendor_fax = $("#vendor_fax");
                        var vendor_email = $("#vendor_email");
                        var vendor_taxid = $("#vendor_taxid");
                        var vendor_mwbe = $("#request_vendor_mwbe");

                        if (data === "") {
                            vendor_name.val("");
                            vendor_address.val("");
                            vendor_phone.val("");
                            vendor_fax.val("");
                            vendor_email.val("");
                            vendor_taxid.val("");
                            vendor_mwbe.prop("checked", false);
                        } else {
                            dis = true;
                            vendor_name.val(data[0]);
                            vendor_address.val(data[1]);
                            vendor_phone.val(data[2]);
                            vendor_fax.val(data[3]);
                            vendor_email.val(data[4]);
                            vendor_taxid.val(data[5]);
                            vendor_mwbe.prop("checked", data[6]);
                        }

                        vendor_name.attr("disabled", dis);
                        vendor_address.attr("disabled", dis);
                        vendor_phone.attr("disabled", dis);
                        vendor_fax.attr("disabled", dis);
                        vendor_email.attr("disabled", dis);
                        vendor_taxid.attr("disabled", dis);
                        vendor_mwbe.attr("disabled", dis);
                    }
                });
            });
        });

</script>

{% endblock %}
