<!-- This template is to initiate a new request. -->
{% extends "base.html" %} {% block title %}Records Procurement - Edit User Information{% endblock title %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock custom_css_links %}
{% block content %}
    <div class="page-header">
        <!-- start of static form -->
        <h1>Edit User Information</h1>
    </div>
    <p><i><strong>User Information</strong></i></p>

    <br>

    <form name="edit_user" class="form-horizontal" id="updateUser" method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group row">
            <label class="col-sm-3 form-control-label">User First Name</label>
            <div class="col-sm-5">
                {{ user.first_name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 form-control-label">User Last Name</label>
            <div class="col-sm-5">
                {{ user.last_name }}
            </div>
        </div>

        {% if current_user.role == 'Administrator' %}
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">User Role</label>
                <div class="col-sm-5">
                    {{ form.role(id="role", class="form-control", default=user.role) }}
                    <div class="small">Edit role if applicable.</div>
                </div>
            </div>

            <div class="form-group row">
                {% for message in form.division.errors %}
                    <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
                {% endfor %}

                <label class="col-sm-3 form-control-label">User Division</label>
                <div class="col-sm-5">
                    {% if current_user.role == "Administrator" %}
                        {{ form.division(id="division", class="form-control", default=user.division) }}
                    {% else %}
                        {{ form.division(id="division", class="form-control", default=user.division, disabled=true ) }}
                    {% endif %}
                    <div class="small">Edit division if applicable.</div>
                </div>
            </div>
        {% else %}
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">User Role</label>
                <div class="col-sm-5">
                    {{ user.role }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 form-control-label">User Division</label>
                <div class="col-sm-5">
                    {{ user.division }}
                </div>
            </div>
        {% endif %}

        <div class="form-group row">
            <label class="col-sm-3 form-control-label">User Email</label>
            <div class="col-sm-5">
                {{ user.email }}
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.phone.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label class="col-sm-3 form-control-label">User Phone Number</label>
            <div class="col-sm-5">
                {{ form.phone(id="phone", class="form-control", type="text", value=user.phone) }}
                <div class="small">Edit phone number if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.address.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label class="col-sm-3 form-control-label">User Address</label>
            <div class="col-sm-5">
                {{ form.address(id="address", class="form-control", type="text", value=user.address) }}
                <div class="small">Edit address if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="spacer">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save Changes</button>
            </div>
        </div>

    </form>
    <!-- end of static form -->
{% endblock %}

{% block scripts %}
{% endblock %}
