{% extends "base.html" %}
{% block title %}
    Records Procurement - View Request
{% endblock title %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css') }}"/>
{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>{{ current_user.first_name}} {{ current_user.last_name }}</h1>
            <a class="btn btn-primary btn-small" href="{{ url_for('main.edit_profile') }}">Edit
                Information</a>
    </div>

    <div class="col-sm-push-12">
        <div class="table-responsive">
            <table id="requests" class="table table-bordered table-striped">
                <colgroup>
                    <col class="col-xs-4">
                    <col class="col-xs-8">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" colspan="2">User Information</th>
                </tr>
                <tr>
                    <th scope="row">First Name:</th>
                    <td>{{ current_user.first_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name:</th>
                    <td>{{ current_user.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Phone Number:</th>
                    <td>{{ current_user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Division:</th>
                    <td>{{ current_user.division }}</td>
                </tr>
                <tr>
                    <th scope="row">Role:</th>
                    <td>{{ current_user.role }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-editable.js') }}"></script>
    {% block request_xeditable %}
{#        {% include "request/request_x-editable.html" %}#}
    {% endblock %}
{% endblock %}


