.center {
text-align: center !important;
}
.wrapper {
    min-height: 100%;
    max-width: calc(940px + 20px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}