table th, label, span{
    color: #181A7B !important;
}

label, span {
    font-weight: bold;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

select#status {
    margin-top: 10px;
}

.comment-box {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

a.btn.btn-primary.btn-sm {
    color: #ffff;
    cursor: pointer;
}

a.btn.btn-primary.btn-sm:hover {
    text-decoration: underline;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

button.close:hover {
    opacity: inherit;
}

.modal-header {
    display: inline;
}

