<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css')}}" />#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-editable.js')}}"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>#}

    {% block custom_css_links %}


    {% endblock custom_css_links %}

</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Records Procurement</a>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Sign Out</a>
                {% else %}
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">Make a Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/requests">View Requests</a>
            </li>
        </ul>
    </div>
</nav>
</body>

<div class="container-fluid-content">
  {% block content %}
  {% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; City of New York 2020</p>
    </div>
</footer>

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-editable.js')}}">
{% endblock %}

</html>
