<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{% block title %}Procurement{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jumbotron-narrow.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>

    {% block custom_css_links %}
    {% endblock custom_css_links %}

</head>
<body>
{% set use_saml = config['USE_SAML'] %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Records Procurement</a>
        <ul class="nav navbar-nav pull-right">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('main.profile') }}"><b>{{ current_user.first_name }} {{ current_user.last_name }}</b></a>
                </li>
                {% if current_user.role == "Administrator" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.manage_users') }}">Manage Users</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('request.index') }}">Request History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('vendor.display_vendors') }}">Vendor List</a>
                </li>
                <li class="nav-item">
                    {% if use_saml %}
                        <a class="nav-link"
                           href="{{ url_for('auth.saml') }}{% if not current_user.is_anonymous %}?slo{% endif %}">
                            <strong>{% if current_user.is_anonymous %}Log In{% else %}Log Out{% endif %}</strong>
                        </a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">
                            <strong>Log Out</strong>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                {% if use_saml %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.saml') }}">
                            <strong>Log In</strong>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
</body>

{% block flash_message %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container-fluid">
                    <div id='flash_message_container'>
                        {% for category, msg in messages %}
                            <div class="alert alert-{{ category }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

<div class="container-fluid-content">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; City of New York 2020</p>
    </div>
</footer>

<!-- jQuery (full, compressed version) -->
<script src="{{ url_for('static', filename='js/plugins/jquery-2.0.3.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
<!-- Session Timeout -->
<script src="{{ url_for('static', filename='js/plugins/session-timeout.min.js') }}"></script>

{% block scripts %}
{% endblock %}

{% include 'auth/concurrent_session_modal.html' %}
{% include 'base.js.html' %}
</html>
