<!-- This template is to initiate a new request. -->
{% extends "base.html" %} {% block title %}Records Procurement Form{% endblock title %}

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
{% block content %}
    <!-- start of static form -->
    <div class="row-fluid">
        <!-- <div class="span8"> -->
						<h3><strong>PURCHASE REQUEST</strong></h3>
						<p><i><strong>Purchase Information</strong></i></p>
				<!-- </div> -->
		</div>

    <!-- javascript to display current date -->
		<script type="text/javascript">
        var currentDate = new Date()
        var day = currentDate.getDate()
        var month = currentDate.getMonth() + 1
        var year = currentDate.getFullYear()
        document.write("<b>" + "Date: " + month + "/" + day + "/" + year + "</b>")
    </script>

		<div class="row-fluid" id="request">
		<br>		
		<form name="newrequest" class="form-horizontal" id="submitRequest" method="POST" action="">
				{{ form.hidden_tag() }}

        {% for message in form.request_name.errors %}
            <div class="alert alert-danger" id="missing_name">{{ message }}</div>
        {% endfor %}

    		<div class="form-group">
    				<label class="col-sm-3" for="request_name">Name:</label>
    				<div class="col-sm-5">
    						<!-- <input type="text" id="request_name" class="form-control"> -->
    						{{ form.request_name(id="request_name", class="form-control", type="text", placeholder="John") }}
    				</div>
				</div>

        {% for message in form.request_division.errors %}
            <div class="alert alert-danger" id="missing_division">{{message}}</div>
        {% endfor %}

				<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_division">Division:</label>
    				<div class="col-sm-5">
                {{ form.request_division(id="request_division", class="form-control") }}
    				</div>
    		</div>

        {% for message in form.request_item.errors %}
            <div class="alert alert-danger" id="missing_item">{{message}}</div>
        {% endfor %}

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_item">Item:</label>
    				<div class="col-sm-8">
                {{ form.request_item(id="request_item", class="form-control", rows="2", maxlength="100") }}
    								<div class="small">Please insert FULL description</div>
    				</div>
    		</div>

        {% for message in form.request_quantity.errors %}
            <div class="alert alert-danger" id="missing_quantity">{{message}}</div>
        {% endfor %}

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_quantity">Quantity:</label>
    				<div class="col-sm-5">
                {{ form.request_quantity(id="request_quantity", class="form-control", type="text")}}
    				<div class="small">i.e. Quantity of boxes, cases, singles</div>
    				</div>
    		</div>

        {% for message in form.request_price_per_item.errors %}
            <div class="alert alert-danger" id="missing_price_per_item">{{message}}</div>
        {% endfor %}

				<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_price_per_item">Price per Item:</label>
    				<div class="col-sm-3">
    						<div class="input-group">
    						<span class="input-group-addon">$</span>
                {{ form.request_price_per_item(id="request_price_per_item", class="form-control", type="text")}}
    						</div>
    				</div>
    		</div>

        {% for message in form.request_total.errors %}
            <div class="alert alert-danger" id="missing_total">{{message}}</div>
        {% endfor %}

				<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_total">Total:</label>
    				<div class="col-sm-3">
    						<div class="input-group">
    						<span class="input-group-addon">$</span>
                {{ form.request_total(id="request_total", class="form-control", type="text")}}
    						</div>
    						<div class="small">Please include all additional costs, i.e. S&H</div>
    				</div>
    		</div>

        {% for message in form.request_funding_source.errors %}
            <div class="alert alert-danger" id="missing_funding_source">{{message}}</div>
        {% endfor %}

				<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_funding_source">Funding Source:</label>
    				<div class="col-sm-5">
    						{{ form.request_funding_source(id="request_funding_source", class="form-control") }}
            </div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-offset-1 col-sm-3" for "request_funding_other">If Other, specify:</label>
    				<div class="col-sm-5">
                {{ form.request_funding_other(id="request_funding_other", class="form-control") }}
    				</div>
    		</div>

        {% for message in form.request_justification.errors %}
            <div class="alert alert-danger" id="missing_justification">{{message}}</div>
        {% endfor %}

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_justification">Justification:</label>
    				<div class="col-sm-8">
                {{ form.request_justification(id="request_justification", rows="3", class="form-control", maxlength="255") }}
    						<!-- <textarea class="form-control" rows="3" id="request_justification"></textarea> -->
    				</div>
    		</div>

    		<p><i><strong>Vendor Information</strong></i></p>
    		<div class="form-group">
    				<label class="form-control-label col-sm-3 sr-only" for "request_vendor">Vendor Information:</label>
    				<div class="col-sm-10">
    						<select class="form-control" id="vendor">
    								<option selected value>Select Vendor or Enter New Vendor Below</option>
    						</select>
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_name">Vendor Name:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_name" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_address">Address:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_address" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_phone">Phone:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_phone" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_fax">Fax:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_fax" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_email">Email:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_email" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_taxid">Vendor/Tax ID:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_taxid" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_vendor_phone">Phone:</label>
    				<div class="col-sm-5">
    						<input type="text" id="request_vendor_phone" class="form-control">
    				</div>
    		</div>

    		<div class="form-group">
    				<label class="form-control-label col-sm-3" for "request_MWBE">M/WBE:</label>
    				<div class="col-sm-5">
    						<input type="radio" id="request_MWBE" class="radio-inline" value="option1">Yes
    						<input type="radio" id="request_MWBE" class="radio-inline" value="option2">No
    				</div>
    		</div>

				<!-- <div id="requestButton" class="control-group">
        		<button id="request_submit" title="submit_request_button" type="submit"
        				class="btn btn-primary btn-large input-block-level">Submit request
            </button>
        </div> -->

        <button type="submit" class="btn btn-primary btn-block">Submit request</button>
        {{ form.submit }}
    </form>
    <!-- end of static form -->
{% endblock %}